*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    color:  white;
}
body{  
    height: 100vh;
    width: 100%;
    background: #373838;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
   align-items:center;
   height:500px;
   width:300px;
   padding: 15px 15px;
   border-radius: 20px;
   background: #191a1a;
   box-shadow: 3px 3px 5px rgba(67, 67, 67, 0.5);
}
input{
    width: 270px;
    height: 60px;
    margin: 25px 3px;
    padding: 10px;
    text-align: right;
    border-radius: 8px;
    font-size: 30px;
    background: rgb(95, 92, 92);
    border: none; 
    cursor: pointer;
    outline: none;

    
}


button{
    font-size: 20px;
    height: 60px;
    width: 60px;
    margin: 5px 2px;
    border-radius: 50%;
    background: transparent;
    outline: none;
  
}
button:hover{
    cursor: pointer;
    border-right: 2px solid rgb(52, 52, 52);
    border-bottom: 2px solid rgb(52, 52, 52);
    transition: 0.2s;
    
   
}
.bottom-two-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.equal{
    background-color: rgb(209, 94, 55);
    height: 120px;
    border-radius: 15px;
}
.zero{
    width: 120px;
    border-radius: 15px;
}
.operator{
    color: green;
}


